---
import "@fontsource/space-mono";
import "@fontsource/space-grotesk";
import "@fontsource/germania-one";

const { ogTitle, ogDesc } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta name="apple-mobile-web-app-title" content="TampaHacks" />
    <meta property="og:site_name" content="TampaHacks" />
    <meta property="og:title" content={ogTitle ?? "TampaHacks"} />
    <meta
      name="description"
      property="og:description"
      content={ogDesc ??
        "Creating new opportunities for high school hackers in the Tampa Bay area."}
    />
    <meta property="og:image" content="https://tampahacks.com/logo.png" />

    <title>TampaHacks</title>
  </head>
  <body
    class="flex min-h-screen flex-col items-center justify-start bg-gradient-to-b from-black to-gray-700 px-10"
  >
    <img
      src="/logo.png"
      alt="TampaHacks logo"
      class="mt-10 aspect-square w-1/3 md:w-1/12"
    />
    <h1 class="font-display my-5 text-center text-3xl text-white md:text-6xl">
      TampaHacks
    </h1>

    <slot />

    <footer
      class="my-5 flex w-full flex-col items-center justify-start gap-3 px-2 text-center text-lg text-white md:px-10 md:text-2xl"
    >
      <p class="w-full md:w-2/3">
        this website is open source! <a
          href="https://github.com/polypixeldev/tampahacks"
          class="underline">check it out on github</a
        >
      </p>
      <p class="w-full md:w-2/3">
        you can also see all of our finances on <a
          href="https://hcb.hackclub.com/tampahacks"
          class="underline">HCB</a
        > - TampaHacks is fiscally sponsored by The Hack Foundation (d.b.a. Hack
        Club), a 501(c)(3) nonprofit (EIN: 81-2908499). any donations you make to
        TampaHacks are tax deductible.
      </p>
    </footer>
  </body>
</html>
